.pricing-plan:hover { 
    transform: scale(1.06); 
    
    }
  
    .threedhover:hover
  {
          box-shadow:
                  -1px 1px rgb(46, 141, 1),
                  -2px 2px rgb(46, 141, 1),
                   -3px 3px rgb(46, 141, 1), 
                   -5px 5px rgb(46, 141, 1);
                  
          -webkit-transform: scale(1.08);
          transform: scale(1.07);
  }


ol, .panelul {
	list-style: none;
    padding-inline-start:0 !important;

}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 
body {
  background-color: #60a9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */

.panel {
  /* background-color: rgb(255, 255, 255); */
  border-radius: 10px;
  /* padding: 0px 25px; */
  /* background-clip:  content-box; */
  width: 100%;
  /* max-width: 2000px; */
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
/* border:10px #07c50782 solid; */

  text-align: center;
  /* text-transform: uppercase; */
  
}

.pricebutton{
  z-index: 4 !important;
  overflow: visible;
}

.pricing-plan {
  /* border-bottom: 1px solid #e1f1ff; */
  /* max-width: 190px; */
  max-width: 180px;
  max-height: 430px;
/* max-height:565px !important; */
  border: .5rem #284243  solid;
  /* background-color:lightgreen; */
  /* background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%); */
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  /* background-image: linear-gradient(to top, #4fb576 0%, #44c489 30%, #28a9ae 46%, #28a2b7 59%, #4c7788 71%, #6c4f63 86%, #432c39 100%); */
  /* background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%); */
  border-radius: 10px;
  transition: all .4s ease-in-out; 
  padding: 5%;
  text-align: center;
}
.pricing-plan:last-child {
  /* border-bottom: none; */
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
}

.pricing-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 2.2rem;
}

.pricing-features {
  margin: 50px 0 25px;
  color: #f3df6b;


}

.pricing-features-item {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;

  border-top: 1px solid #e1f1ff;
  
}

.pricing-features-item:last-child{
  border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
  color: darkgreen; 
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  background-color: green;
  color: white !important;
  display: inline-block;
  padding: 15px 35px;
  /* background-clip:  content-box; */
  text-decoration: none;
  margin: 25px 0;
  
  transition: background-color 200ms ease-in-out;
}

.pricing-button:hover, .pricing-button:focus {
  background-color: #e1f1ff;
}

.pricing-button.is-featured {
  color: white;
}

.pricing-button.is-featured:hover, .pricing-button.is-featured:focus{
  background-color: #269aff;
  color: white;
}


@media (min-width: 900px){
  .panel {
    flex-direction: row;
  }
  .pricing-plan {
    /* border-bottom: none; */
    /* border-right: 1px solid #e1f1ff; */
    padding: 25px 50px;
  }
  .pricing-plan:last-child {
    /* border-right: none; */
  }
}