.pricing-plan:hover { 
    transform: scale(1.08); 
    
    }
  
    .threedhover:hover
  {
          box-shadow:
                  -1px 1px rgb(81, 246, 4),
                  -2px 2px rgb(81, 246, 4),
                   -3px 3px rgb(81, 246, 4); 
                  /* 4px 4px rgb(246, 101, 4); */
                  
          -webkit-transform: scale(1.08);
          transform: scale(1.07);
  }


ol, ul {
	list-style: none;
    padding-inline-start:0 !important;

}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 
body {
  background-color: #60a9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */

.panel {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 15px 25px;
  width: 100%;
  /* max-width: 2000px; */
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
/* border:10px #07c50782 solid; */

  text-align: center;
  text-transform: uppercase;
  
}

.pricing-plan {
  /* border-bottom: 1px solid #e1f1ff; */
  max-width: 300px;
/* max-height:565px !important; */
  border: 1rem #8f854f  solid;
  background-color:lightgreen;
  border-radius: 10px;
  transition: all .3s ease-in-out; 
}
.pricing-plan:last-child {
  /* border-bottom: none; */
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
}

.pricing-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 3rem;
}

.pricing-features {
  margin: 50px 0 25px;
  color: #479047;

}

.pricing-features-item {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid #e1f1ff;
}

.pricing-features-item:last-child{
  border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
  color: #016ff9; 
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: darkgreen !important;
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 25px 0;
  
  transition: background-color 200ms ease-in-out;
}

.pricing-button:hover, .pricing-button:focus {
  background-color: #e1f1ff;
}

.pricing-button.is-featured {
  background-color: darkseagreen;
  color: white;
}

.pricing-button.is-featured:hover, .pricing-button.is-featured:focus{
  background-color: #269aff;
  color: white;
}


@media (min-width: 900px){
  .panel {
    flex-direction: row;
  }
  .pricing-plan {
    /* border-bottom: none; */
    /* border-right: 1px solid #e1f1ff; */
    padding: 25px 50px;
  }
  .pricing-plan:last-child {
    /* border-right: none; */
  }
}