
  .search-form{
   
    display:flex;
    justify-content:center;
    align-items:flex-start;
    min-height: 32.8px;
    height: 40px;
   
  }
  .search-button{
   background-color: #007B40 ;
    border-radius: 990px;
    left:'-5px';
/*    
    top: 0;
    bottom: 0; */
    color:white;
    /* padding: .6%; */
    min-width: 14%;
    /* align-items: center; */
    text-align: center;
    padding: .55em;
    width: 5rem;
    height: fit-content;
  
  }

  .search-bar{
    width: 65vw;
    border:none;
    /* height:145px; */

    /* padding:10px; */
    outline: 0px;
    min-height:29px;
    /* padding: .7% !important; */
    border-radius: 990px;
    max-width: 15900px;
   
  }