
  .search-form{
   
    display:flex;
    justify-content:center;
    align-items:flex-start;
   
   
  }
  .search-button{
   background-color: #007B40 ;
    border-radius: 990px;
    left:'-5px';
/*    
    top: 0;
    bottom: 0; */
    color:white;
    /* padding: .6%; */
    min-width: 14%;
    /* align-items: center; */
    text-align: center;
    padding: 5.5%;
    width: 5rem;
    height: fit-content;
  
  }

  .search-bar{
    width: 75vw;
    border:none;
    /* padding:10px; */
    outline: 0px;
    padding: .6% !important;
    border-radius: 990px;
    max-width: 1500px;
  }