.footer{

    min-height:31vh;
    max-height: fit-content;
    width: 100vw;
    background: linear-gradient(to bottom, #284243, rgb(1, 34, 0) 100%);
    
    color:white;

}

.top{
    border-bottom: 1px #2e7700 solid;
}

.social{
    cursor: pointer;
    padding: 2%;
    border-radius: 10px;
    /* width: 3rem; */
    /* height: 3rem; */
    transition: all .3s ease-in-out;
    font-size:4ch;
    opacity: .8;
 
}

.socialbackground{
    width:2.5rem;
    /* height:4rem; */
    background-color: #f7faf700;
    border-radius: 50%;
    padding:2.5%;
    
}
.anchor{
    color: burlywood !important;
    font-size: 1rem;
}

.mid{

}

.socialbackground:hover{
    background-color: green;
    
    transform: scale(1.07); 
}
